<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华山论剑</title>
</head>
<body>
<table border="1">
     <tr>
        <th width="50">编号</th>
        <th width="100">书名</th>
        <th width="100">日期</th>
        <th width="50">阅读量</th>
        <th width="50">评论量</th>
    </tr>

{% for book  in blist  %}
     <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.btitle }}</td>
            <td>{{ book.bpub_date }}</td>
            <td>{{ book.bread }}</td>
            <td>{{ book.bcomment }}</td>
        </tr>

{% endfor %}





</table>
</body>
</html>